In [2]:
import numpy as np
import pandas as pd
import tensorflow as tf
from tensorflow.keras import layers
from tensorflow import keras

In [3]:
trial = pd.read_csv('dataset/trys.csv')
trial

,student_id,question_id,part_L,part_M,part_S,reaction,difficulty,right
0,0,1,5,2,1,5,0.96,0
1,0,2,4,2,1,3,0.96,0
2,0,3,5,3,3,2,0.91,1
3,0,4,3,1,2,5,0.95,1
4,0,5,4,2,2,4,0.96,1
...,...,...,...,...,...,...,...,...
299995,9999,26,4,2,2,5,0.77,1
299996,9999,27,5,3,2,8,0.31,0
299997,9999,28,3,1,1,450,0.54,0
299998,9999,29,5,3,3,29,0.22,1
299999,9999,30,4,2,2,64,0.08,1

In [4]:
1~21, 22~30   21,29,30

SyntaxError: invalid syntax (<ipython-input-4-e74bd8d88e71>, line 1)

In [5]:
trial[(trial['question_id']==30) & (trial['right']==1)]
#svd(student_id, question_id, students.loc[students['student_id'],'grade'])
#embedding
#surprise -> cf

,student_id,question_id,part_L,part_M,part_S,reaction,difficulty,right
12809,426,30,4,2,2,64,0.08,1
30809,1026,30,4,2,2,64,0.08,1
33299,1109,30,4,2,2,64,0.08,1
40229,1340,30,4,2,2,64,0.08,1
51629,1720,30,4,2,2,64,0.08,1
...,...,...,...,...,...,...,...,...
299819,9993,30,4,2,2,64,0.08,1
299879,9995,30,4,2,2,64,0.08,1
299909,9996,30,4,2,2,64,0.08,1
299969,9998,30,4,2,2,64,0.08,1
299999,9999,30,4,2,2,64,0.08,1

In [6]:
tmp = trial[['part_L','part_M','part_S','reaction','difficulty','right']]
tmp

        part_L  part_M  part_S  reaction  difficulty  right
0            5       2       1         5        0.96      0
1            4       2       1         3        0.96      0
2            5       3       3         2        0.91      1
3            3       1       2         5        0.95      1
4            4       2       2         4        0.96      1
...        ...     ...     ...       ...         ...    ...
299995       4       2       2         5        0.77      1
299996       5       3       2         8        0.31      0
299997       3       1       1       450        0.54      0
299998       5       3       3        29        0.22      1
299999       4       2       2        64        0.08      1

[300000 rows x 6 columns]

In [ ]:
개:80000 고양이:20000

In [7]:
students = pd.read_csv('dataset/2019_sat_students.txt')
students

,score,q1,q2,q3,q4,q5,q6,q7,q8,q9,...,q22,q23,q24,q25,q26,q27,q28,q29,q30,grade
0,28,2,5,2,5,4,3,1,3,5,...,4,164,2,33,419,607,552,432,477,5
1,39,5,3,2,2,4,5,2,2,4,...,170,15,2,137,5,421,464,434,743,5
2,31,5,3,2,3,3,5,4,1,4,...,934,830,2,137,178,168,943,586,89,5
3,45,2,3,1,4,4,3,2,2,3,...,82,15,964,137,5,840,867,681,693,5
4,32,5,3,2,3,4,3,4,5,4,...,4,206,353,482,82,207,86,635,793,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,92,5,3,2,5,4,3,2,5,3,...,4,15,2,137,5,8,450,29,64,1
9996,88,5,3,2,5,4,3,2,5,3,...,4,15,2,137,5,854,450,23,64,2
9997,92,5,3,2,5,4,3,2,5,3,...,4,15,2,137,5,8,450,345,957,1
9998,88,5,3,2,5,4,3,2,5,3,...,4,15,2,137,5,867,450,597,64,2
9999,92,5,3,2,5,4,3,2,5,3,...,4,15,2,137,5,319,803,29,64,1

grade별 갯수가 다름 -> 1만명 응시기준 1:400, 2:700, 3: 1100 4:2000 5 : 나머지
dataset = 
train_ds = 1:400, 2:400 3:400 4:400 5:400
split x
validation_ds = 1: ?, 2:700-400, 3:1100 - 400, 4: 2000-400 5:
test data = unseen

In [8]:
students[students['grade']==5].index

Int64Index([   0,    1,    2,    3,    4,    5,    6,    7,    8,    9,
            ...
            5988, 6309, 6516, 6526, 6584, 6604, 6650, 6805, 6872, 6908],
           dtype='int64', length=4628)

In [ ]:
def generator(student_id):

In [9]:
labels = list(students['grade'])
labels

[5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 ...]

In [10]:
np.unique(labels)

array([1, 2, 3, 4, 5])

In [ ]:
30개 인풋 - > 1 output

   0
0  5
1  5
2  5
3  5
4  5

In [11]:
tmp

        part_L  part_M  part_S  reaction  difficulty  right
0            5       2       1         5        0.96      0
1            4       2       1         3        0.96      0
2            5       3       3         2        0.91      1
3            3       1       2         5        0.95      1
4            4       2       2         4        0.96      1
...        ...     ...     ...       ...         ...    ...
299995       4       2       2         5        0.77      1
299996       5       3       2         8        0.31      0
299997       3       1       1       450        0.54      0
299998       5       3       3        29        0.22      1
299999       4       2       2        64        0.08      1

[300000 rows x 6 columns]

In [12]:
batch_size = 30
learning_rate = 0.01
timesteps = 30
attribute = 6

In [48]:
model = keras.Sequential()

#timestep = k, k개의 데이터(시간)마다 값이 1개
model.add(layers.Bidirectional(layers.LSTM(6),input_shape = (timesteps,attribute)))


'''model.add(layers.Dense(40,activation = 'relu'))
model.add(layers.Dense(80,activation = 'relu'))
model.add(layers.Dense(160,activation = 'relu'))
model.add(layers.Dense(80,activation = 'relu'))
model.add(layers.Dense(40,activation = 'relu'))
model.add(layers.Dense(20,activation = 'relu'))'''
model.add(layers.Dense(6,activation = 'softmax'))
model.summary()

Model: "sequential"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
bidirectional (Bidirectional (None, 12)                624
_________________________________________________________________
dense (Dense)                (None, 6)                 78
=================================================================
Total params: 702
Trainable params: 702
Non-trainable params: 0
_________________________________________________________________

In [49]:
model.compile(optimizer='adam',loss='sparse_categorical_crossentropy',
             metrics=['accuracy'])

In [50]:
tmp = np.array(tmp)

In [51]:
tmp1 = tmp.reshape(10000,30,6)

In [52]:
tmp1.shape

(10000, 30, 6)

In [53]:
import tensorflow.keras.backend as K

In [54]:
K.clear_session()

In [55]:
model.output.shape

TensorShape([None, 6])

In [56]:

labels

[5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 ...]

In [58]:
model.fit(tmp1,np.array(labels),epochs=20,batch_size = batch_size,callbacks=[keras.callbacks.EarlyStopping()])

Epoch 1/20
330/334 [============================>.] - ETA: 0s - loss: 1.4879 - accuracy: 0.4282WARNING:tensorflow:Early stopping conditioned on metric `val_loss` which is not available. Available metrics are: loss,accuracy
334/334 [==============================] - 3s 9ms/step - loss: 1.4858 - accuracy: 0.4291
Epoch 2/20
330/334 [============================>.] - ETA: 0s - loss: 1.0184 - accuracy: 0.5919WARNING:tensorflow:Early stopping conditioned on metric `val_loss` which is not available. Available metrics are: loss,accuracy
334/334 [==============================] - 3s 9ms/step - loss: 1.0169 - accuracy: 0.5924
Epoch 3/20
333/334 [============================>.] - ETA: 0s - loss: 0.7687 - accuracy: 0.6784WARNING:tensorflow:Early stopping conditioned on metric `val_loss` which is not available. Available metrics are: loss,accuracy
334/334 [==============================] - 3s 9ms/step - loss: 0.7690 - accuracy: 0.6782
Epoch 4/20
328/334 [============================>.] - ETA: 0s - loss: 0.6799 - accuracy: 0.7213WARNING:tensorflow:Early stopping conditioned on metric `val_loss` which is not available. Available metrics are: loss,accuracy
334/334 [==============================] - 3s 9ms/step - loss: 0.6780 - accuracy: 0.7220
Epoch 5/20
334/334 [==============================] - ETA: 0s - loss: 0.6177 - accuracy: 0.7441WARNING:tensorflow:Early stopping conditioned on metric `val_loss` which is not available. Available metrics are: loss,accuracy
334/334 [==============================] - 3s 9ms/step - loss: 0.6177 - accuracy: 0.7441
Epoch 6/20
332/334 [============================>.] - ETA: 0s - loss: 0.5628 - accuracy: 0.7638WARNING:tensorflow:Early stopping conditioned on metric `val_loss` which is not available. Available metrics are: loss,accuracy
334/334 [==============================] - 3s 9ms/step - loss: 0.5628 - accuracy: 0.7639
Epoch 7/20
328/334 [============================>.] - ETA: 0s - loss: 0.5262 - accuracy: 0.7825WARNING:tensorflow:Early stopping conditioned on metric `val_loss` which is not available. Available metrics are: loss,accuracy
334/334 [==============================] - 3s 9ms/step - loss: 0.5258 - accuracy: 0.7829
Epoch 8/20
332/334 [============================>.] - ETA: 0s - loss: 0.4985 - accuracy: 0.7929WARNING:tensorflow:Early stopping conditioned on metric `val_loss` which is not available. Available metrics are: loss,accuracy
334/334 [==============================] - 3s 9ms/step - loss: 0.4983 - accuracy: 0.7931
Epoch 9/20
334/334 [==============================] - ETA: 0s - loss: 0.4720 - accuracy: 0.8109WARNING:tensorflow:Early stopping conditioned on metric `val_loss` which is not available. Available metrics are: loss,accuracy
334/334 [==============================] - 3s 9ms/step - loss: 0.4720 - accuracy: 0.8109
Epoch 10/20
332/334 [============================>.] - ETA: 0s - loss: 0.4395 - accuracy: 0.8294WARNING:tensorflow:Early stopping conditioned on metric `val_loss` which is not available. Available metrics are: loss,accuracy
334/334 [==============================] - 3s 9ms/step - loss: 0.4389 - accuracy: 0.8296
Epoch 11/20
330/334 [============================>.] - ETA: 0s - loss: 0.3985 - accuracy: 0.8539WARNING:tensorflow:Early stopping conditioned on metric `val_loss` which is not available. Available metrics are: loss,accuracy
334/334 [==============================] - 5s 14ms/step - loss: 0.3986 - accuracy: 0.8539
Epoch 12/20
331/334 [============================>.] - ETA: 0s - loss: 0.3735 - accuracy: 0.8654WARNING:tensorflow:Early stopping conditioned on metric `val_loss` which is not available. Available metrics are: loss,accuracy
334/334 [==============================] - 3s 9ms/step - loss: 0.3738 - accuracy: 0.8653
Epoch 13/20
329/334 [============================>.] - ETA: 0s - loss: 0.3376 - accuracy: 0.8902WARNING:tensorflow:Early stopping conditioned on metric `val_loss` which is not available. Available metrics are: loss,accuracy
334/334 [==============================] - 3s 9ms/step - loss: 0.3374 - accuracy: 0.8903
Epoch 14/20
333/334 [============================>.] - ETA: 0s - loss: 0.3088 - accuracy: 0.9049WARNING:tensorflow:Early stopping conditioned on metric `val_loss` which is not available. Available metrics are: loss,accuracy
334/334 [==============================] - 3s 9ms/step - loss: 0.3088 - accuracy: 0.9050
Epoch 15/20
287/334 [========================>.....] - ETA: 0s - loss: 0.2751 - accuracy: 0.9289

KeyboardInterrupt: