## 추천 모델 작성

기존의 word2vec을 이용하여 작성할 예정

사용자가 틀린 문항

what is the 'like' question?

if **다음 등급에**서의 정답률> 정답률 + a:

    사용자['like'] = 그 문항

In [1]:
import pandas as pd
import numpy as np

In [2]:
stu_df= pd.read_csv('dataset/int_student.csv')
stu_df

,student_id,subject_id,test_id,q1_reaction,q2_reaction,q3_reaction,q4_reaction,q5_reaction,q6_reaction,q7_reaction,...,q23_reaction,q24_reaction,q25_reaction,q26_reaction,q27_reaction,q28_reaction,q29_reaction,q30_reaction,score,grade
0,1157,20100,2002,3,5,3,5,2,1,2,...,6,8,10,9,21,75,330,7,12,5
1,4239,20100,2002,1,4,5,5,2,3,4,...,60,12,8,78,54,37,19,19,18,5
2,1504,20100,2002,1,5,4,4,3,1,1,...,45,13,20,16,60,340,304,24,78,3
3,3197,20100,2002,1,5,5,4,3,1,1,...,45,0,0,0,0,0,0,0,48,5
4,5852,20100,2002,1,5,5,4,3,1,1,...,45,13,20,3,60,682,0,0,72,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
88218,522,21150,2110,2,3,1,3,3,2,1,...,6,8,20,29,9,5,0,0,65,5
88219,2897,21150,2110,2,3,1,3,3,2,4,...,6,16,20,29,9,7,0,0,65,5
88220,7061,21150,2110,2,3,1,3,3,2,4,...,6,8,20,0,0,0,0,0,68,5
88221,1241,21150,2110,2,3,1,3,3,2,2,...,6,8,20,29,9,13,136,0,73,5
88222,7473,21150,2110,2,3,1,3,3,2,4,...,6,8,20,29,9,31,160,120,88,2

In [3]:
que_df = pd.read_csv('dataset/question.csv')
que_df

,q_id,answer_type,part_L,part_M,part_S,answer,score,correct_rate,viewable,g1_correct_rate,g2_correct_rate,g3_correct_rate,g4_correct_rate,g5_correct_rate
0,20100200201,True,1,1,1,1,2,0.713,False,0.982609,0.995652,0.972973,0.979798,0.526657
1,20100200202,True,4,1,1,5,2,0.756,False,1.000000,0.995652,0.995495,0.994949,0.590058
2,20100200203,True,1,3,1,5,2,0.720,False,1.000000,0.991304,0.959459,0.987374,0.537464
3,20100200204,True,0,2,3,4,3,0.617,False,1.000000,1.000000,0.990991,0.997475,0.353026
4,20100200205,True,1,1,3,3,3,0.524,False,1.000000,0.986957,0.945946,0.924242,0.226225
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1015,21150211026,False,1,3,3,29,4,0.568,False,0.968254,0.894737,0.807692,0.740331,0.385576
1016,21150211027,False,3,3,2,9,4,0.629,False,0.984127,0.932331,0.846154,0.729282,0.477115
1017,21150211028,False,4,1,2,57,4,0.171,False,0.777778,0.421053,0.223077,0.198895,0.055479
1018,21150211029,False,3,1,5,160,4,0.183,False,0.809524,0.466165,0.284615,0.198895,0.054092
1019,21150211030,False,4,2,2,125,4,0.032,False,0.333333,0.052632,0.015385,0.027624,0.005548

In [4]:
try_df = pd.read_csv('dataset/trys.csv')
try_df

,student_id,question_id,part_L,part_M,part_S,reaction,correct_rate,right
0,1157,20100200201,1,1,1,3,0.713,0
1,1157,20100200202,4,1,1,5,0.756,1
2,1157,20100200203,1,3,1,3,0.720,0
3,1157,20100200204,0,2,3,5,0.617,0
4,1157,20100200205,1,1,3,2,0.524,0
...,...,...,...,...,...,...,...,...
2646685,7473,21150211026,1,3,3,29,0.568,1
2646686,7473,21150211027,3,3,2,9,0.629,1
2646687,7473,21150211028,4,1,2,31,0.171,0
2646688,7473,21150211029,3,1,5,160,0.183,1
2646689,7473,21150211030,4,2,2,120,0.032,0

In [5]:
try_df['grade'] = 5
try_df

,student_id,question_id,part_L,part_M,part_S,reaction,correct_rate,right,grade
0,1157,20100200201,1,1,1,3,0.713,0,5
1,1157,20100200202,4,1,1,5,0.756,1,5
2,1157,20100200203,1,3,1,3,0.720,0,5
3,1157,20100200204,0,2,3,5,0.617,0,5
4,1157,20100200205,1,1,3,2,0.524,0,5
...,...,...,...,...,...,...,...,...,...
2646685,7473,21150211026,1,3,3,29,0.568,1,5
2646686,7473,21150211027,3,3,2,9,0.629,1,5
2646687,7473,21150211028,4,1,2,31,0.171,0,5
2646688,7473,21150211029,3,1,5,160,0.183,1,5
2646689,7473,21150211030,4,2,2,120,0.032,0,5

In [6]:
try_df['pre'] = try_df['question_id'] / 100
try_df['pre'] = try_df['pre'].astype(int)
try_df['pre']

0          201002002
1          201002002
2          201002002
3          201002002
4          201002002
             ...
2646685    211502110
2646686    211502110
2646687    211502110
2646688    211502110
2646689    211502110
Name: pre, Length: 2646690, dtype: int64

In [7]:
from tqdm import tqdm

In [8]:
for j, df in tqdm(stu_df.iterrows()):
    s_id = df['student_id']
    q_id_pre = df['subject_id']*10000 + df['test_id']
    try_df.loc[(try_df['student_id'] == s_id) & (try_df['pre'] == q_id_pre),'grade'] = df['grade']

88223it [35:14, 41.73it/s]

In [9]:
from sklearn.model_selection import train_test_split

In [10]:
train_try, test_try= train_test_split(try_df,
                                      test_size=0.30,
                                      stratify=try_df['student_id'],
                                      random_state = 9510)

In [11]:
len(train_try), len(test_try)

(1852683, 794007)

In [21]:
train_try.head()

,student_id,question_id,part_L,part_M,part_S,reaction,correct_rate,right,grade,pre
1896510,4875,21100210301,1,1,1,3,0.945,1,2,211002103
2440226,6115,21150210727,1,1,3,27,0.354,1,2,211502107
988193,14014,20150200424,5,1,3,14,0.876,1,4,201502004
1368334,13856,20150200805,1,1,3,5,0.972,1,3,201502008
1589576,8400,20150200927,5,1,3,32,0.691,0,4,201502009

In [12]:
cols = ['g1_correct_rate', 'g2_correct_rate', 'g3_correct_rate',
       'g4_correct_rate', 'g5_correct_rate', '1_2_gap', '2_3_gap', '3_4_gap',
       '4_5_gap']

In [14]:
que_df[cols[:-4]] = que_df[cols[:-4]].replace(0,np.nan)

In [16]:
for i in range(1,5):
    que_df['{}_{}_gap'.format(i,i+1)] = que_df['g{}_correct_rate'.format(i)]-que_df['g{}_correct_rate'.format(i+1)]

In [17]:
que_df

,q_id,answer_type,part_L,part_M,part_S,answer,score,correct_rate,viewable,g1_correct_rate,g2_correct_rate,g3_correct_rate,g4_correct_rate,g5_correct_rate,1_2_gap,2_3_gap,3_4_gap,4_5_gap
0,20100200201,True,1,1,1,1,2,0.713,False,0.982609,0.995652,0.972973,0.979798,0.526657,-0.013043,0.022679,-0.006825,0.453141
1,20100200202,True,4,1,1,5,2,0.756,False,1.000000,0.995652,0.995495,0.994949,0.590058,0.004348,0.000157,0.000546,0.404892
2,20100200203,True,1,3,1,5,2,0.720,False,1.000000,0.991304,0.959459,0.987374,0.537464,0.008696,0.031845,-0.027914,0.449910
3,20100200204,True,0,2,3,4,3,0.617,False,1.000000,1.000000,0.990991,0.997475,0.353026,0.000000,0.009009,-0.006484,0.644449
4,20100200205,True,1,1,3,3,3,0.524,False,1.000000,0.986957,0.945946,0.924242,0.226225,0.013043,0.041011,0.021704,0.698018
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1015,21150211026,False,1,3,3,29,4,0.568,False,0.968254,0.894737,0.807692,0.740331,0.385576,0.073517,0.087045,0.067361,0.354756
1016,21150211027,False,3,3,2,9,4,0.629,False,0.984127,0.932331,0.846154,0.729282,0.477115,0.051796,0.086177,0.116872,0.252167
1017,21150211028,False,4,1,2,57,4,0.171,False,0.777778,0.421053,0.223077,0.198895,0.055479,0.356725,0.197976,0.024182,0.143417
1018,21150211029,False,3,1,5,160,4,0.183,False,0.809524,0.466165,0.284615,0.198895,0.054092,0.343358,0.181550,0.085720,0.144803
1019,21150211030,False,4,2,2,125,4,0.032,False,0.333333,0.052632,0.015385,0.027624,0.005548,0.280702,0.037247,-0.012240,0.022076

In [18]:
que_df['grade'] = 5

In [19]:
for i in range(1,5):
    que_df.loc[(que_df['{}_{}_gap'.format(i,i+1)]>0.1) & (que_df['g{}_correct_rate'.format(i)]>0.5) & 
             (que_df['g{}_correct_rate'.format(i+1)]<0.5),'grade'] = i

In [20]:
que_df[que_df['grade']==1]

,q_id,answer_type,part_L,part_M,part_S,answer,score,correct_rate,viewable,g1_correct_rate,g2_correct_rate,g3_correct_rate,g4_correct_rate,g5_correct_rate,1_2_gap,2_3_gap,3_4_gap,4_5_gap,grade
28,20100200229,False,1,3,2,34,4,0.055,False,0.573913,0.178261,0.049550,0.017677,0.002882,0.395652,0.128711,0.031873,0.014795,1
50,20100200321,True,0,2,2,1,4,0.108,False,0.516393,0.169492,0.110169,0.093434,0.062292,0.346902,0.059322,0.016735,0.031142,1
140,20100200621,True,2,3,4,3,4,0.239,False,0.782051,0.496732,0.330961,0.189655,0.143901,0.285319,0.165771,0.141306,0.045755,1
148,20100200629,False,1,3,2,777,4,0.116,False,0.807692,0.333333,0.224199,0.054187,0.008766,0.474359,0.109134,0.170012,0.045422,1
170,20100200721,True,0,2,5,4,4,0.308,False,0.777778,0.470046,0.406542,0.291667,0.207547,0.307732,0.063504,0.114875,0.084119,1
259,20100201020,True,2,3,4,3,4,0.193,False,0.677419,0.486034,0.272401,0.154589,0.103053,0.191386,0.213632,0.117812,0.051536,1
297,20100201128,False,1,1,5,13,4,0.102,False,0.579618,0.231293,0.129032,0.103976,0.022621,0.348325,0.102260,0.025057,0.081355,1
298,20100201129,False,3,3,3,55,4,0.134,False,0.592357,0.319728,0.222222,0.125382,0.039002,0.272629,0.097506,0.096840,0.086381,1
329,20150200230,False,4,2,2,30,4,0.130,False,0.540373,0.262238,0.190909,0.148607,0.064692,0.278135,0.071329,0.042302,0.083914,1
380,20150200421,True,4,3,2,2,4,0.225,False,0.704225,0.416129,0.285714,0.194861,0.131783,0.288096,0.130415,0.090853,0.063078,1
388,20150200429,False,5,2,2,720,4,0.101,False,0.531690,0.264516,0.152709,0.079229,0.016872,0.267174,0.111807,0.073480,0.062357,1
418,20150200529,False,5,2,3,24,4,0.121,True,0.681319,0.287162,0.172749,0.076046,0.024484,0.394157,0.114413,0.096704,0.051562,1
448,20150200629,False,5,2,2,84,4,0.159,False,0.942966,0.345756,0.297143,0.118100,0.027652,0.597210,0.048613,0.179043,0.090448,1
469,20150200720,True,4,2,5,1,4,0.120,False,0.728723,0.318812,0.180556,0.070524,0.021296,0.409912,0.138256,0.110031,0.049229,1
477,20150200728,False,3,2,3,852,4,0.153,False,0.712766,0.394059,0.238095,0.146474,0.032623,0.318707,0.155964,0.091621,0.113850,1
530,20150200921,True,5,1,3,5,4,0.358,True,0.877598,0.466049,0.311943,0.196118,0.185882,0.411549,0.154106,0.115824,0.010236,1
560,20150201021,True,4,3,2,3,4,0.243,False,0.790614,0.453237,0.330749,0.228169,0.132739,0.337376,0.122488,0.102580,0.095430,1
566,20150201027,False,4,2,5,10,4,0.182,False,0.693141,0.456835,0.289406,0.191549,0.057692,0.236306,0.167429,0.097856,0.133857,1
590,20150201121,True,4,2,2,2,4,0.175,False,0.630058,0.248344,0.197154,0.153846,0.127291,0.381713,0.051190,0.043308,0.026555,1
598,20150201129,False,5,2,2,108,4,0.147,False,0.722543,0.374172,0.215447,0.132730,0.051015,0.348371,0.158725,0.082717,0.081715,1
625,21100210226,False,1,1,3,37,4,0.184,False,0.686869,0.490000,0.345455,0.225309,0.059166,0.196869,0.144545,0.120146,0.166143,1
628,21100210229,False,3,1,2,144,4,0.071,False,0.585859,0.230000,0.100000,0.046296,0.007759,0.355859,0.130000,0.053704,0.038537,1
689,21100210630,False,4,2,2,38,4,0.089,True,1.000000,0.253086,0.081897,0.041298,0.007819,0.746914,0.171190,0.040599,0.033479,1
707,21100210718,True,2,2,3,3,4,0.243,False,0.579439,0.362069,0.305085,0.250667,0.183853,0.217370,0.056984,0.054418,0.066814,1
708,21100210719,True,3,3,5,2,4,0.242,False,0.635514,0.454023,0.326271,0.232000,0.165468,0.181491,0.127752,0.094271,0.066532,1
718,21100210729,False,3,1,5,105,4,0.092,False,0.504673,0.275862,0.173729,0.088000,0.016787,0.228811,0.102133,0.085729,0.071213,1
769,21100210920,True,4,3,2,3,4,0.199,True,0.678161,0.273543,0.164319,0.189723,0.155694,0.404618,0.109223,-0.025404,0.034029,1
770,21100210921,True,1,3,1,2,4,0.240,True,0.735632,0.372197,0.328638,0.264822,0.153025,0.363435,0.043559,0.063816,0.111797,1
778,21100210929,False,3,1,2,168,4,0.121,True,0.747126,0.327354,0.154930,0.114625,0.025801,0.419772,0.172425,0.040305,0.088824,1
779,21100210930,False,4,2,5,105,4,0.036,True,0.563218,0.062780,0.014085,0.003953,0.000890,0.500438,0.048696,0.010132,0.003063,1
800,21100211021,True,1,3,5,4,4,0.185,False,0.657895,0.319444,0.169811,0.139130,0.147810,0.338450,0.149633,0.030681,-0.008680,1
808,21100211029,False,3,1,5,378,4,0.132,False,0.789474,0.375000,0.245283,0.156522,0.016423,0.414474,0.129717,0.088761,0.140098,1
809,21100211030,False,4,2,2,49,4,0.077,False,0.710526,0.250000,0.075472,0.069565,0.012774,0.460526,0.174528,0.005906,0.056791,1
838,21150210229,False,3,1,3,900,4,0.156,False,0.786260,0.438144,0.335548,0.152174,0.039506,0.348115,0.102596,0.183374,0.112668,1
867,21150210328,False,1,3,4,61,4,0.226,False,0.792208,0.483019,0.356941,0.216418,0.109806,0.309189,0.126078,0.140523,0.106612,1
868,21150210329,False,3,3,2,253,4,0.117,False,0.688312,0.301887,0.184136,0.097015,0.027011,0.386425,0.117751,0.087121,0.070004,1
928,21150210729,False,3,1,5,54,4,0.081,False,0.525140,0.227979,0.142857,0.064103,0.016595,0.297160,0.085122,0.078755,0.047507,1
929,21150210730,False,4,2,2,52,4,0.100,False,0.687151,0.393782,0.156593,0.080586,0.007495,0.293368,0.237189,0.076007,0.073091,1
959,21150210830,False,4,3,2,27,4,0.073,False,0.506329,0.089655,NaN,0.042328,0.016667,0.416674,NaN,NaN,0.025661,1
1009,21150211020,True,4,3,2,2,4,0.201,False,0.825397,0.443609,0.230769,0.143646,0.110957,0.381788,0.212840,0.087123,0.032689,1
1017,21150211028,False,4,1,2,57,4,0.171,False,0.777778,0.421053,0.223077,0.198895,0.055479,0.356725,0.197976,0.024182,0.143417,1
1018,21150211029,False,3,1,5,160,4,0.183,False,0.809524,0.466165,0.284615,0.198895,0.054092,0.343358,0.181550,0.085720,0.144803,1

In [32]:
tmp_ary = np.unique(que_df['q_id'])
len(tmp_ary)

1020

In [33]:
train_try['liked'] = 0

In [36]:
for qid in tqdm(tmp_ary):
    val = int(que_df.loc[que_df['q_id']==qid,'grade'])
    train_try.loc[(train_try['question_id']==qid) & (train_try['right'] == 0) & (train_try['grade'] == val+1),'liked'] = 1

100%|██████████| 1020/1020 [00:19<00:00, 51.37it/s]

In [38]:
train_try[train_try['liked']==1]

,student_id,question_id,part_L,part_M,part_S,reaction,correct_rate,right,grade,pre,liked
2457080,4838,21150210721,4,2,5,5,0.167,0,3,211502107,1
29558,9176,20100200209,2,2,3,4,0.471,0,5,201002002,1
2440619,12015,21150210730,4,2,2,34,0.100,0,2,211502107,1
598750,6731,20100201011,0,1,3,3,0.405,0,5,201002010,1
264788,11297,20100200609,1,1,3,4,0.668,0,5,201002006,1
...,...,...,...,...,...,...,...,...,...,...,...
542568,12491,20100200919,2,4,3,2,0.439,0,5,201002009,1
1655835,275,20150201016,5,2,3,5,0.605,0,5,201502010,1
2570987,13621,21150210918,4,3,3,1,0.366,0,4,211502109,1
248035,4184,20100200526,0,1,3,24,0.650,0,5,201002005,1
1041677,3332,20150200518,5,2,3,4,0.570,0,5,201502005,1

In [39]:
def for_embedding(df):
    gp_user_like = df.groupby(['liked', 'student_id']) # liked와 user_id로 그룹화
    return ([gp_user_like.get_group(gp)['question_id'].tolist() for gp in gp_user_like.groups])

In [40]:
pd.options.mode.chained_assignment = None
for_embedding_try = for_embedding(train_try)

In [41]:
len(for_embedding_try)

27242